.contacts__link {
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  text-decoration: none;
  color: #fff;
  margin-right: 50px;
  transition-duration: 0.3s;
}

.contacts__link:last-child {
  margin-right: 0;
}

.contacts__link:hover {
  text-decoration: underline;
}